/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* 1 col = 60px + 20px margin */

/* 3cols */
.block--exp-news-listing-page-1,
.om-maximenu-middle-right .block.first .menu-block-wrapper li,
.region-menu-sub-inner .menu-block-wrapper li,
.region-footer-first .block-menu-block,
.block-block-46{
    width:220px;
}
.region-footer-first .block-menu-block{
    width:199px;
    margin-left:20px;
    padding-left:20px;
    &:first-child{
        margin-left:0;
    }
}

/* reduce to allow for wrapper border size */
.block--exp-faq-page-1,
.region-menu-sub-inner .block-17,
.cta,
.om-maximenu-middle-right .last,
.region-menu-sub-inner .block-51{
    width:218px;
}
/* reduced for margin */
.block-views-id--exp-videos-page_1.last,
.block--exp-videos-page-1,
.block-views-exp-people-listing-page-1,
.om-maximenu-middle-right .block-views-id--exp-people_listing-page_1.last{
    width:209px;
}
.om-maximenu-middle-right .block.last{
    margin-left:-4px;
}

/* footer has 10px padding*/
/* 5 cols */
.block-block-2{
    width:360px;
}
/* 7 cols */
.block-block-3{

}
/* 9cols + margin */
.block-block-16{
    width:720px;
}


/* 9cols + margin - outer border width*/
.region-menu-sub-inner .block-35,
.region-menu-sub-inner .block-block-34,
.block-block-24,
.region-menu-sub-inner .block-block-20,
.region-menu-sub-inner .block-menu-block,
.om-maximenu-middle-right .first{
    width:719px;
}

/* 12 cols */
.om-maximenu-no-style .om-maximenu-middle{
    width:940px;
}

/* sub navi */
.block-35,.block-block-id-34,
.context-contact-us .block-menu-block-15,
.context-personal-injury-video-testimonials .block-block-34,
.context-ask-question .block-block-32,
.block-block-id-24,
.block-block-24,
.block-block-16,
.block--exp-news-listing-page-1{
    min-height:115px;
}

/* sports ambassadors sub navi */
.block-block-43,
.block-block-44,
.block-block-45{
    padding:0 20px 0 212px;
    width:488px;
}

.block-block-43,
.block-block-44,
.block-block-45,
.block-block-46{
    min-height:197px;
}

/* home page blog listing */
.block-blog-listing-block {
    .left-col{
        width:100px;
    }
    .right-col{
        padding-left:15px;
        width:305px
    }
}

/* news listing - with images */
.block--exp-news-listing-page-1 #edit-tid{
    width:200px;
}
.view-news-listing ul li,
.block-news-listing-block ul li{
    .left-col{
        width:150px;
    }
    .right-col{
        padding-left:10px;
        width:540px;
    }
}

/* people details */
.group-person-contact {
    .field-name-field-email,
    .field-name-field-link,
    .field-name-field-phone{
        display: inline-block; 
        vertical-align: middle;
    }
    .field-name-field-email{
        width:100px;
    }
    .field-name-field-link {
        width:120px;
    }
}

/* vacancy application form */
.node-type-vacancy .block-client-block-48 {
    width:420px;
}
/* content CTA*/
.block-block-23{
    .phone{
        width:auto;
    }
    .button{
        width:100px;
    }
}
/* side blocks - only show for wide screens */
@media screen and (min-width: 1160px) {
    .block-13{
        &.widepage-sides{
            display:block;
            position:fixed;
            top:40%;
            width:100px;
        }
    }
    .block-13{
        &.widepage-sides{
            left:0; 
            background-color: #ee2842;
            &:hover{
                background-color: #be1e34;
            }
            p{
                color: #fff;
                border-left:4px solid #fff;
                margin:10px;
                a{
                    font-weight:300;
                    color: #fff;
                    display:block;
                    width:100%;
                    padding:5px 5px 60px;
                }
            }
        }
    }
}