/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* see also editor.css for styles that can be added through the WYSIWYG editor */
/* general tag setup */
body{margin-top:20px; font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:1.2;color:#5f5f5f;}
a:link, a:visited  {text-decoration:none;}
ul li.leaf,li {margin:0; list-style: none;}
.view-news-listing ul li, .block-blog-listing-block ul li,ul li.expanded {margin:0 !important; list-style: none !important;}
#zone-content .region-content-inner li {list-style: disc; margin-left:1em;}
/*font*/
h2, h3, h4, h5, h6,.region-footer-first-inner h2{font-family:Arial, Helvetica, sans-serif;}
.views-exposed-form label,.field-name-field-about-me .field-label,.field-name-field-best-part-of-the-job .field-label,.field-name-field-hobbies-interests .field-label,.block-field-job-title,.om-maximenu-middle-right .block.last h2,.om-maximenu-middle-right .block.first h2,.region-menu-sub-inner h2,h1,.view-news-listing h3,.region-postscript-fourth-inner h3, .region-postscript-third-inner h3,.region-postscript-fourth-inner h2, .region-postscript-third-inner h2,.view-banner p,.view-banner h3,.cta .cta-content li a,.cta h3,.block-block-4 div.menu-item a,.header.phone h3{font-family: 'Quattrocento Sans';}
/*.group-person-contact h3{font-family: 'Quattrocento Sans';} THIS DETROYS THE FONTS ON THE REST OF THE PAGE!!*/
/* font sizes*/
/* 10px */
.people-job{font-size:0.625em;}
/* 12px */
.region-footer-first-inner li,.region-footer-first-inner h2,.block-block-2 p,.button{font-size:.75em;}
/* 14 px */
.people-title,.block-field-job-title,.breadcrumb li,.region-postscript-first-inner .cta .cta-content li a{font-size:0.875em;}
/* 15 px */
.block-views-exp-people-listing-page-1 form label,.block-views-id--exp-people_listing-page_1 form label,.om-maximenu-middle-right .block.last h2,.block-17 h2,.block--exp-news-listing-page-1 h2,.view-banner p,.region-postscript-second-inner .cta p{font-size:0.938em;}
/* 17px */
.block-block-4 div.menu-item a {font-size:1.063em;}
/* 18px */
.region-postscript-fourth-inner h3, .region-postscript-third-inner h3 {font-size:1.125em;}
/* 20px */
.region-postscript-second-inner .cta h3{font-size:1.250em;}
/* 22px */
.group-person-contact h3{font-size:1.375em}
/* 24px */
.field-name-field-about-me .field-label,.field-name-field-best-part-of-the-job .field-label,.field-name-field-hobbies-interests .field-label{font-size:1.500em;}
/* 26px */
.view-news-listing h3{font-size:1.625em;}
/* 32 px */
.header.phone h3{font-size:2em;}
/* 34 px */
.block-block-20 h2,.om-maximenu-middle-right .block.first h2,.region-menu-sub-inner .block-menu-block h2,h1{font-size:2.125em;}
/* 54 */
.view-banner h3{font-size:3.375em;}

/* colours */
.green{color:#73c9bd;}
/* red */
.group-person-contact h3,.read-more a,.region-postscript-fourth-inner h3 a, .region-postscript-third-inner h3 a{color:#ee2842;}
/* dark red */
.region-postscript-first-inner .cta h3 a{color:#c51f3c;}
/* dark red - people section */
.node-type-person h1#page-title,.block-field-job-title{color:#841313;}
/* blue */
.om-maximenu-middle-right .block.first h2,.region-menu-sub-inner .block-menu-block h2,.view-banner p{color:#003766;}
/* lighter blue */
.region-sidebar-second .block-menu-block .menu li a{color:#077a99;}
/* light blue - people section */
.field-name-field-about-me .field-label,.field-name-field-best-part-of-the-job .field-label,.field-name-field-hobbies-interests .field-label{color:#0c7998;}
/* grey */
.breadcrumb li,.breadcrumb li a{color:#5f5f5f;}

/* white */
.block-views-exp-people-listing-page-1 form label,.block-views-id--exp-people_listing-page_1 form label,.leaf-our-team .om-maximenu-middle-right .block.first h2,.region-menu-sub-inner .block-block-20 h2,.view-people-listing .people-title-wrapper,.view-people-listing .people-title-wrapper a,.block--exp-news-listing-page-1 h2,.block-block-16 h1,.region-sidebar-second .block-menu-block .menu li a:hover,.region-sidebar-second .block-menu-block .menu li.active-trail a,.region-footer-first-inner li a,.region-footer-first-inner h2,.region-postscript-fourth-inner h2, .region-postscript-third-inner h2,.region-postscript-second-inner .cta a,.block-block-2 p,.block-block-2 p a, .button a{color:#fff;}
/* black */
.om-maximenu-middle-right .block.last h2,.block-17 h2,.region-postscript-first-inner .cta .cta-content li a,.block-block-4 div.menu-item a{color:#000;}

/* drupal over rides */
.views-exposed-form label {font-weight: normal; margin-bottom:10px;}

/*header*/
.header.phone h3{font-weight: 700; letter-spacing:-2px; margin-bottom:15px;line-height:1;margin-top:20px;}
.button{font-weight:700; line-height:32px;}
.header.button{display:inline-block; width:46%; width:calc(50% - 14px);}
.button p{margin:0; text-align:center;}
.header.button.bluegrad{margin-right: 20px;}
.header.button.redgrad{float:right;}
.button.bluegrad{background: #58a4ba; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4YTRiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzA5N2E5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background: -moz-linear-gradient(top,  #58a4ba 0%, #097a99 50%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58a4ba), color-stop(50%,#097a99)); background: -webkit-linear-gradient(top,  #58a4ba 0%,#097a99 50%); background: -o-linear-gradient(top,  #58a4ba 0%,#097a99 50%); background: -ms-linear-gradient(top,  #58a4ba 0%,#097a99 50%); background: linear-gradient(to bottom,  #58a4ba 0%,#097a99 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a4ba', endColorstr='#097a99',GradientType=0 );}
.button.redgrad{background: #edb8c2;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkYjhjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M1MWUzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background: -moz-linear-gradient(top,  #edb8c2 0%, #c51e3c 50%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edb8c2), color-stop(50%,#c51e3c)); background: -webkit-linear-gradient(top,  #edb8c2 0%,#c51e3c 50%); background: -o-linear-gradient(top,  #edb8c2 0%,#c51e3c 50%); background: -ms-linear-gradient(top,  #edb8c2 0%,#c51e3c 50%); background: linear-gradient(to bottom,  #edb8c2 0%,#c51e3c 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb8c2', endColorstr='#c51e3c',GradientType=0 );}
/* menu */
/* hide main menu for non moibile */
.menu-block-7 {display:none;}
/* featured menu */
.zone-menu {margin-top:17px;}
.block-block-4 {margin-bottom:10px;} 
.block-block-4 div.menu-item {height:41px; width:100%; margin:0; display:block;background: #fbfbfb;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ5ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #fbfbfb 1%, #d8d9da 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fbfbfb), color-stop(100%,#d8d9da)); background: -webkit-linear-gradient(top,  #fbfbfb 1%,#d8d9da 100%); background: -o-linear-gradient(top,  #fbfbfb 1%,#d8d9da 100%); background: -ms-linear-gradient(top,  #fbfbfb 1%,#d8d9da 100%); background: linear-gradient(to bottom,  #fbfbfb 1%,#d8d9da 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d8d9da',GradientType=0 );} 
.block-block-4 div.menu-item a{background:url(../images/icon_sprite.png) no-repeat;line-height: 39px;display: block; text-align: center;border-left:1px solid #d6d1d1;border-top:1px solid #e8e8e8;border-bottom:1px solid #d4cfcf;border-right:1px solid #e7e7e8}
.block-block-4 div.menu-item.item-1 a{background-position:0 -106px;}
.block-block-4 div.menu-item.item-2 a{background-position:0 -174px;}
.block-block-4 div.menu-item.item-3 a{background-position:0 -245px;}

/* sub menu */
.block-block-20 h2, .om-maximenu-middle-right .block.last h2,.om-maximenu-middle-right .block.first h2,.region-menu-sub-inner .block-menu-block h2,.block-17 h2{text-transform: capitalize; border-bottom: 1px solid #b9baba;}
.block-block-20 h2,.block-block-16 h1{border-bottom-color: #fff;}
.om-maximenu-middle-right .block.last h2,.block-17 h2, .block--exp-news-listing-page-1 h2{line-height:1.8;}
.block--exp-news-listing-page-1 h2{border-bottom:1px solid #fff;}
.block-block-16,.block--exp-news-listing-page-1  {background: #0c7998; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjNzk5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZGFmYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #0c7998 0%, #5dafb2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c7998), color-stop(100%,#5dafb2)); background: -webkit-linear-gradient(top,  #0c7998 0%,#5dafb2 100%); background: -o-linear-gradient(top,  #0c7998 0%,#5dafb2 100%); background: -ms-linear-gradient(top,  #0c7998 0%,#5dafb2 100%); background: linear-gradient(to bottom,  #0c7998 0%,#5dafb2 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c7998', endColorstr='#5dafb2',GradientType=0 );}
.not-logged-in .om-maximenu .om-maximenu-open {display: none;}
/* breadcrumb */
#zone-content .region-content-inner .breadcrumb {padding:0;margin:10px 0 0;}
#zone-content .region-content-inner .breadcrumb li{margin:0;text-transform: capitalize;}
#zone-content .region-content-inner .breadcrumb li:after{content:'>'; padding:0 4px;}
#zone-content .region-content-inner .breadcrumb li.last:after{content:''; padding:0 4px;}
/* content */
/* title */
h1{text-transform: capitalize;border-bottom:2px solid #929292;}
.block-cck-blocks-field-job-title, h1#page-title{margin-top:45px;}
.node-type-person h1#page-title{margin-top:0;}
/* side blocks - only show for wide screens */
.block-13, .block-14{display:none;}

/* views */
.left-col,.right-col{display: inline-block; vertical-align: top;}
.read-more a{font-weight:700;}
/* home banner */
.view-banner h3{font-weight: 500;line-height: .9;}
.view-banner h3 .red{margin-left:105px; font-weight: 700;}

/* people */
.block-people-listing-block{margin-top:1em;}
.view-people-listing ul { overflow:hidden; margin-right:-20px;}
.view-people-listing ul li {list-style: none !important; float:left; margin:0 20px 20px 0 !important; }
.view-people-listing .views-field-field-thumbnail{background:#929292;}
.view-people-listing .people-list-title{padding:7px 10px; display:block;background: #1e5799; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDk0OTVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjOGMyMzI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg0MTMxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #1e5799 0%, #d9495e 0%, #8c2327 75%, #841313 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#d9495e), color-stop(75%,#8c2327), color-stop(100%,#841313)); background: -webkit-linear-gradient(top,  #1e5799 0%,#d9495e 0%,#8c2327 75%,#841313 100%); background: -o-linear-gradient(top,  #1e5799 0%,#d9495e 0%,#8c2327 75%,#841313 100%); background: -ms-linear-gradient(top,  #1e5799 0%,#d9495e 0%,#8c2327 75%,#841313 100%); background: linear-gradient(to bottom,  #1e5799 0%,#d9495e 0%,#8c2327 75%,#841313 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#841313',GradientType=0 );}
.view-people-listing a {display:block;}
.view-people-listing .people-title-wrapper{ border-left:4px solid #fff;padding-left:9px;}
.view-people-listing .item-list h3{display:none;}
.block-field-job-title{text-transform: uppercase;font-weight:700;}
.field-name-field-about-me .field-label,.field-name-field-best-part-of-the-job .field-label,.field-name-field-hobbies-interests .field-label{border-bottom:1px solid #929292;margin-bottom:15px;}
.group-person-contact{padding:17px 17px 20px;border:1px solid #929292;}
.group-person-contact .field-name-field-email,.group-person-contact .field-name-field-link,.group-person-contact .field-name-field-phone{display: block;}
.group-person-contact .field-name-field-email a {display: block; text-indent: -9999px; width:38px; height:38px; background: url(../images/icons_contact.png) no-repeat 0 0;}
.group-person-contact .field-name-field-link a{display: block;background: url(../images/icons_contact.png) no-repeat 0 -39px;height:38px;padding-left:40px;line-height: 38px;}
.group-person-contact .field-name-field-email .field-item:before {content:"Email";position:absolute; display:block;left:60px;line-height:38px;}
.group-person-contact .field-name-field-phone .field-item{display: block;background: url(../images/icons_contact.png) no-repeat 0 -77px;height:38px;padding-left:40px;line-height: 38px;}

/* news */
.view-news-listing .views-row, .block-news-listing-block .views-row{border-bottom:1px solid #929292;padding:20px 0;margin-bottom:12px;}
.block-news-listing-block-1 {margin-bottom:25px;}
.view-news-listing h3,.block-news-listing-block h3{text-transform: capitalize;}
.block-news-listing-block-1 .views-row{border-bottom:1px dotted #929292;padding:12px 0;}
.block-news-listing-block-1 .views-row-last{border-bottom:none;}
.block-news-listing-block-1 .views-row a{text-transform: capitalize;display:inline-block;width:100%;}
.block-news-listing-block-1 .views-row a:after{content:'>';display:inline-block;position:absolute;right:0;}
.block--exp-news-listing-page-1 label{display:none;}

.region-sidebar-second .block-menu-block .block-title-wrapper{
background: #4ba9ae; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiYTlhZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjc5OTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4ba9ae 0%, #0b7997 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ba9ae), color-stop(100%,#0b7997)); background: -webkit-linear-gradient(top,  #4ba9ae 0%,#0b7997 100%); background: -o-linear-gradient(top,  #4ba9ae 0%,#0b7997 100%); background: -ms-linear-gradient(top,  #4ba9ae 0%,#0b7997 100%); background: linear-gradient(to bottom,  #4ba9ae 0%,#0b7997 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba9ae', endColorstr='#0b7997',GradientType=0 );}
.region-sidebar-second .block-menu-block .block-title-wrapper h2{padding:0 10px 5px;color:#fff;}
.region-sidebar-second .block-menu-block .menu{background: #f4f5f5; padding-bottom:20px;margin-bottom:20px;}
.region-sidebar-second .block-menu-block .menu li{padding:0;border-bottom:1px solid #376084;}
.region-sidebar-second .block-menu-block .menu li a{padding:9px;display:block;}
.region-sidebar-second .block-menu-block .menu li.active-trail,.region-sidebar-second .block-menu-block .menu li:hover{background-color:#6ba5b9;}

/* CTA Blocks */
.region-postscript-first-inner .cta .cta-header{display:block;position:relative; border-left: 5px solid #c51f3c; background: #f7f7f7; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ5ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #f7f7f7 0%, #d8d9da 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#d8d9da)); background: -webkit-linear-gradient(top,  #f7f7f7 0%,#d8d9da 100%); background: -o-linear-gradient(top,  #f7f7f7 0%,#d8d9da 100%); background: -ms-linear-gradient(top,  #f7f7f7 0%,#d8d9da 100%); background: linear-gradient(to bottom,  #f7f7f7 0%,#d8d9da 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d8d9da',GradientType=0 );}
.region-postscript-first-inner .cta h3{display:block; position:relative;font-weight: 700; padding:20px 15px 30px 20px; margin:0;}
.region-postscript-first-inner .cta .cta-header-icon{position:relative;background:url(../images/icon_sprite.png) no-repeat 0 -319px; width:38px; height:38px; float:right;}
.region-postscript-first-inner .cta .cta-content{display:block;position:relative; border-left: 5px solid #599b93;background: #b7b8b9; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3YjhiOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ5ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #b7b8b9 0%, #d8d9da 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b8b9), color-stop(100%,#d8d9da)); background: -webkit-linear-gradient(top,  #b7b8b9 0%,#d8d9da 100%); background: -o-linear-gradient(top,  #b7b8b9 0%,#d8d9da 100%); background: -ms-linear-gradient(top,  #b7b8b9 0%,#d8d9da 100%); background: linear-gradient(to bottom,  #b7b8b9 0%,#d8d9da 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b8b9', endColorstr='#d8d9da',GradientType=0 );}
.cta *:last-child{margin-bottom:0}
.region-postscript-first-inner .cta .cta-content li{border-bottom:1px solid #a4a4a4; padding:15px 0 10px;}
.region-postscript-first-inner .cta .cta-content li:last-child{border-bottom:none;}
.region-postscript-first-inner .cta .cta-content li a{font-weight: 700;padding:0 25px;}
.region-postscript-first-inner .cta .cta-content li a:before{content:'\00BB'; display:inline;margin-right:5px;} 

.region-postscript-second-inner .cta{background: #70c7bc; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzBjN2JjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA5N2E5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background: -moz-linear-gradient(45deg,  #70c7bc 0%, #097a99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#70c7bc), color-stop(100%,#097a99)); background: -webkit-linear-gradient(45deg,  #70c7bc 0%,#097a99 100%); background: -o-linear-gradient(45deg,  #70c7bc 0%,#097a99 100%); background: -ms-linear-gradient(45deg,  #70c7bc 0%,#097a99 100%); background: linear-gradient(45deg,  #70c7bc 0%,#097a99 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70c7bc', endColorstr='#097a99',GradientType=1 );}

.region-postscript-second-inner .cta,.region-postscript-second-inner .cta-content {height:240px; overflow: hidden;}
.region-postscript-second-inner .cta .cta-title-wrap {background:#c51f3c; padding:4px 10px; margin:15px 15px 10px 0;}
.region-postscript-second-inner .cta .cta-title-wrap h3{border-left:2px solid #fff; margin:0;padding-left:5px;}
.region-postscript-second-inner .cta p{margin:0 25px;}
.region-postscript-second-inner .cta.c-1 .cta-content {background:url(../images/cta-r2-bg1.png) no-repeat 0 100%;}
.region-postscript-second-inner .cta.c-2 .cta-content {background:url(../images/cta-r2-bg2.png) no-repeat 100% 100%;}
.region-postscript-second-inner .cta.c-3 .cta-content {background:url(../images/cta-r2-bg3.png) no-repeat 0 100%;}
.region-postscript-second-inner .cta.c-4 .cta-content {background:url(../images/cta-r2-bg4.png) no-repeat 100% 100%;}

/* postscript region 1 */
.region-postscript-first-inner{margin-bottom:25px;}

/* postscript region 2 */
.region-postscript-second-inner{margin-bottom:25px;}

/* postscript region 3 */
.region-postscript-third-inner{margin-bottom:25px;}
.region-postscript-third-inner .content *:last-child{margin-bottom:0;}

/* postscript region 4 */
.region-postscript-fourth-inner{margin-bottom:25px;}
.region-postscript-fourth-inner .content *:last-child{margin-bottom:0;}


/* postscript region 3 & 4 */
.region-postscript-fourth-inner h2, .region-postscript-third-inner h2{background:url(../images/title-bar.png) no-repeat left 50% #077a99; padding: 10px 0 8px 45px; margin-bottom: 25px;}
.block-blog-listing-block ul li{margin-left:0; padding:10px 18px;}
.block-blog-listing-block ul li{border-bottom: 2px solid #9b9b9b}
.block-blog-listing-block ul li:first-child{padding-top:0;}
.block-blog-listing-block ul li:last-child{padding-bottom:0;border-bottom:none;}
.block-blog-listing-block ul li .left-col{width:50px;}
.block-blog-listing-block ul li .right-col{width:195px}
.region-postscript-fourth-inner h3, .region-postscript-third-inner h3{margin:0;}

/* footer */
.section-footer {margin-top:20px}
.region-footer-first{background-color:#0c7998;}
.region-footer-first-inner{padding:10px 0 30px;}
.region-footer-first-inner h2{margin-bottom:22px;}
.region-footer-first-inner li.expanded,.region-footer-first-inner  li.collapsed,.region-footer-first-inner  li.leaf{padding:0; margin:0 0 15px;line-height:1;}
.region-footer-first-inner li:last-child{margin:0;}

.region-footer-second{background-color:#ee2842;}
.region-footer-second-inner{padding:10px 20px;}

.block-block-2 p{font-weight:700;margin-bottom:10px;}
.block-block-2 p a{text-decoration:underline;}
.block-block-2 p a.footer-email{padding-right:10px; margin:0 10px; border-right:1px solid #fff;}
.block-block-3 p a{display: inline-block;background:url(../images/icon_sprite.png) no-repeat 0 0;text-indent:-9999px; text-align:left;}
.block-block-3 p a.footer_iip_icon{width:102px;height:29px;background-position:0 -54px;}
.block-block-3 p a.footer_facebook_icon{width:76px;height:24px;background-position:0 -27px;}
.block-block-3 p a.footer_linkedin_icon{width:88px;height:23px;}
/* mobile only */
@media screen and (max-width: 979px) and (min-width: 1px) {
.block-block-2 p a{display:block;}
.block-block-2 p a.footer-email{margin:10px 0 0;padding:0; border:none;}
.cta{margin-bottom:25px;}
.block-blog-listing-block ul li .left-col img{width:100%; height:auto;}
.region-footer-first-inner{padding:10px 20px 30px;}
#om-maximenu-main-menu{display:none;}
.menu-block-7 {display:block;}
}