/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* 1 col = 60px + 20px margin */

/* 3cols */

.region-footer-first .block-menu-block,.cta{width:220px;}
.region-footer-first .block-menu-block{width:220px;margin-left:16px;}
.region-footer-first .block-menu-block:first-child{width:200px;}

/* footer has 10px padding*/
/* 5 cols */
.block-block-3{width:360px; margin-left:16px;}
/* 7 cols */
.block-block-2{width:520px;}


/* side blocks - only show for wide screens */
@media screen and (min-width: 1160px) {
.block-13, .block-14{display:block; position:fixed; top:40%;width:100px;}
.block-13{left:0; background-color: #ee2842;}
.block-13 p{color: #fff; border-left:4px solid #fff;margin:10px;}
.block-13 p a{font-weight:700;color: #fff; display:block; width:100%; padding:5px 5px 60px;}
.block-14{right:0; background-color: #077a99;}
.block-14 p {color: #fff; display:block; padding:5px; border-left:4px solid #fff;margin:10px;font-weight:700;}
.block-14 p:last-child {margin-top:-10px;padding-bottom:0;}
.block-14 p a{display:block; height:30px; width:30px;background: url(../images/icon_social.gif); text-indent: -9999px;}
.block-14 p a.icon_youtube{background-position: 0 0;}
.block-14 p a.icon_facebook{background-position: 0 -41px;}
.block-14 p a.icon_trustpilot{background-position: 0 -83px;}
.block-14 p a.icon_twitter{background-position: 0 -125px;}
}