/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* 1 col = 60px + 20px margin */

/* 3cols */
.block--exp-news-listing-page-1,.om-maximenu-middle-right .block.first .menu-block-wrapper li,.region-menu-sub-inner .menu-block-wrapper li,.region-footer-first .block-menu-block,.cta,.block--exp-news-listing-page-1{width:220px;}
.region-footer-first .block-menu-block{width:199px;margin-left:20px;padding-left:20px;}
.region-footer-first .block-menu-block:first-child{margin-left:0;}

/* reduce to allow for wrapper border size */
.block--exp-faq-page-1,.region-menu-sub-inner .block-17,.cta,.om-maximenu-middle-right .last{width:219px;}
/* reduced for margin */
.block-views-exp-people-listing-page-1,.om-maximenu-middle-right .block-views-id--exp-people_listing-page_1.last{width:209px;}
.om-maximenu-middle-right .block.last{margin-left:-4px;}

/* footer has 10px padding*/
/* 5 cols */
.block-block-3{width:360px; margin-left:16px;}
/* 7 cols */
.block-block-2{width:520px;}
/* 9cols + margin */
.block-block-16{width:720px;}
/* 9cols + margin - outer border width*/
.block-block-24,.region-menu-sub-inner .block-block-20,.region-menu-sub-inner .block-menu-block,.om-maximenu-middle-right .first{width:719px;}

/* 12 cols */
.om-maximenu-no-style .om-maximenu-middle{width:938px;}

/* sub navi */
.block-block-id-24,.block-block-24 ,.block-block-16,.block--exp-news-listing-page-1  {height:115px;}

/* home page blog listing */
.block-blog-listing-block ul li .left-col{width:100px;}
.block-blog-listing-block ul li .right-col{padding-left:15px;width:305px}
/* news listing - with images */
.block--exp-news-listing-page-1 #edit-tid{width:200px;}
.view-news-listing ul li .left-col,.block-news-listing-block ul li .left-col{width:150px;}
.view-news-listing ul li .right-col,.block-news-listing-block ul li .right-col{padding-left:10px;width:540px}

/* people details */
.group-person-contact .field-name-field-email,.group-person-contact .field-name-field-link,.group-person-contact .field-name-field-phone{display: inline-block; vertical-align: middle;}
.group-person-contact .field-name-field-email{width:100px;}
.group-person-contact .field-name-field-link {width:120px;}

/* content CTA*/
.block-block-23 .phone{width:auto;}
.block-block-23 .button{width:100px;}

/* side blocks - only show for wide screens */
@media screen and (min-width: 1160px) {
.block-13.widepage-sides, .block-14.widepage-sides{display:block; position:fixed; top:40%;width:100px;}
.block-13.widepage-sides{left:0; background-color: #ee2842;}
.block-13.widepage-sides p{color: #fff; border-left:4px solid #fff;margin:10px;}
.block-13.widepage-sides p a{font-weight:700;color: #fff; display:block; width:100%; padding:5px 5px 60px;}
.block-14.widepage-sides{right:0; background-color: #077a99;}
.block-14.widepage-sides p {color: #fff; display:block; padding:5px; border-left:4px solid #fff;margin:10px;font-weight:700;}
.block-14.widepage-sides p:last-child {margin-top:-10px;padding-bottom:0;}
.block-14.widepage-sides p a{display:block; height:30px; width:30px;background: url(../images/icon_social.gif); text-indent: -9999px;}
.block-14.widepage-sides p a.icon_facebook{background-position: 0 0;}
.block-14.widepage-sides p a.icon_youtube{background-position: 0 -41px;}
.block-14.widepage-sides p a.icon_trustpilot{background-position: 0 -83px;}
.block-14.widepage-sides p a.icon_twitter{background-position: 0 -125px;}
}