/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* featured menu */
.block-block-4 div.menu-item {vertical-align: top;width:33.29%;display:inline-block;}
.block-block-4 div.item-2,.block-block-4 div.item-3 {margin-left:-4px;}
/* home CTA */
.cta{display:inline-block; vertical-align: top;margin-right:20px;}
.cta.c-4{margin-right:0;}
.region-postscript-first-inner .cta .cta-content {min-height: 89px;}
/* footer blocks */
.block-block-2,.block-block-3{display:inline-block;vertical-align: middle;}
.block-block-3{text-align:right;}
.block-block-3 p{display:inline;}
.block-block-3 p a{margin-right:15px;}
.block-block-3 p a.footer_linkedin_icon{margin-right:5px;}

/* banner I have NO IDEA why changing the font family for the parent element makes this wirk in IE10, but it does?? */
.view-banner{font-family:Georgia, "Times New Roman", Times, serif; width:100%;;border-top:2px solid #c1c4c5; position:relative; background: #efefef; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZDhkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  #efefef 0%, #d6d8d6 100%); background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#efefef), color-stop(100%,#d6d8d6)); background: -webkit-linear-gradient(45deg,  #efefef 0%,#d6d8d6 100%); background: -o-linear-gradient(45deg,  #efefef 0%,#d6d8d6 100%); background: -ms-linear-gradient(45deg,  #efefef 0%,#d6d8d6 100%); background: linear-gradient(45deg,  #efefef 0%,#d6d8d6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d6d8d6',GradientType=1 ); margin-bottom:25px; height:345px; padding-top:65px;}
.view-banner .views-field-field-content-left, .view-banner .views-field-field-content-right {font-family:Arial, Helvetica, sans-serif; position:relative; display: inline-block; width:375px; height:240px; margin:0; vertical-align:top;}
.view-banner .views-field-field-content-left p:last-child, .view-banner .views-field-field-content-right p:last-child{margin-bottom: 0;}
.view-banner .views-field-field-content-left{padding:0 15px 0 10px;}
.view-banner .views-field-field-content-right {padding:0 10px 0 15px; margin-left:-4px;}
.view-banner .views-slideshow-controls-top{position:absolute;top:175px;z-index:10;height:0;width:100%;}
.view-banner .views-slideshow-controls-text{z-index:10;}
.view-banner .views-slideshow-controls-top .views_slideshow_controls_text_pause{display:none;}
.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-previous,.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-next{position:absolute;display:block; height:70px; width:70px;}
.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-previous{left:0}
.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-next{right:0;}
.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-previous a,.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-next a{text-indent:-9999px; display: block; height: 100%;width: 100%;background: url(../images/banner-controls.gif) no-repeat;}
.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-previous a{background-position: 0 0;}
.view-banner .views-slideshow-controls-top .views-slideshow-controls-text-next a{background-position: -80px 0;}
.view-banner .views-slideshow-controls-bottom{position:absolute; bottom:20px; width:100%; text-align: center;}
.view-banner .views-slideshow-controls-bottom .views-slideshow-pager-field-item{display:inline-block;}
.view-banner .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-counter .views-content-counter{display:block;	background:#FFF;	text-indent:-9999px;display:block; width:12px; height:12px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}
.view-banner .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-field-counter .views-content-counter{background:#ee2842;}
.view-banner .views_slideshow_cycle_main{z-index:15;margin:0 70px;}

/* footer */
.region-footer-first .block-menu-block{display:inline-block; vertical-align: top;}