@charset "UTF-8";
/* CSS Document */
body{font-family: 'Quattrocento Sans', sans-serif; margin:10px 0px !important}
#piWrapper, .thankyou{
	background:url(images/PI-bk.jpg) repeat-x;	
	height:800px;
	padding:20px;
}
#piWrapper h2, .thankyou h2{
	color:white;
	font-weight:normal;	
}
#formWrapper{
	width:100%;
	float:left;
	border:2px solid #C00;
	padding:0;
	position:absolute;
	min-width:260px;
	overflow:hidden;
	background-color:#fff;
	z-index:999;
	}
#formWrapper h3{
	margin:0;
	padding:10px;
	text-transform:uppercase;
	font-size:1em;
	}
	#formWrapper #formLists .injuryList h3.ui-state-hover{
		color:#000000;
	}
#formWrapper h4{
	margin:0;
	text-transform:uppercase;
	font-size:1em;
	display:block;
	border-bottom:2px solid #C00;
	padding-top:10px;
	}	
#instText{
	color:white;
	font-size:1.3em;
	position:absolute;
	z-index:999;
	top:300px;
	text-align:center;
	display:block;
	width:79%;
	background:url(images/popUpBk.png);
	padding:10px;
	border:#FFF 1px solid;
}
#instText a{
	display:inline-block !important;
	padding:10px;
	text-decoration:none;
	font-size:0.75em;
	background-color:#7FC8BB;
	color:#fff;	
	width:50px;
}
#instText a:hover{
	background-color:#C00;
}

#formWrapper .ui-accordion button{
	display:inline-block;
	text-align:left;	
	width:100%;
	border:0;
	color:#ccc;
	background-image:url(images/PI-arrow.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-color:#535362;
	padding:5px 30px 5px 5px;
	border-bottom:1px solid #666;
	margin:0;
}
#formWrapper .ui-accordion button:hover{
	color:#fff;
	background-image:url(images/PI-arrow-hover.png);
	cursor:pointer;
}
#formWrapper #endForm{
	background-color:#fff;
	/*position:absolute;
	top:0;*/

	padding:10px;
}

.formCall{
	display:inline-block;
	width:40%;
	
}
#endForm{
	padding:5px;	
}
#sendForm{
	padding:10px;
	background-color:#603;
	margin:10px 0 0 0;
	color:#fff;
}
#sendForm input{
width:96%;
	margin:5px 0;
	border:0;
	padding:5px;
}
#sendForm .submitButton{
width:40%;
	float:right;
	background:url(images/button-tex.png);
	color:white;
	border:0;
	padding:5px;
	margin-top:5px;
}
#sendForm .submitButton:hover{
	cursor:pointer;

}
#sendForm #InjuryField{
	display:none;
}
#sendForm .subHead2{
	font-size:1.5em;
	display:block;
	margin-bottom:5px;
}
#endForm .saveText{
		color:#C00;
		font-size:1.75em;
		margin:10px 0;
		
}
#endForm .subHead{
	color:#333;
	font-size:1em;	
}
#endForm p{
	font-size:0.75em;
	color:#999;
	margin:5px 0;	
}
.backBtn{
	float:right;
	margin:10px;
	text-decoration:none;
	color:#C00;
	font-weight:700;
	text-transform:uppercase;
	font-size:0.9em;
	background:url(images/back-button-sprite.png) no-repeat left top;
	padding:0 20px;
	position:relative;
	z-index:999;
}
.backBtn:hover{
	color:#000000;
	background-position:left bottom;
}

/*Right Body */

#rightBody{
	width:50%;
	float:right;
	min-width:250px;
	position:relative;
}
#rightBody a{
	position:absolute;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	color:#ccc;
	padding:5px 0px 5px 60px;
	z-index:99;	
	background:url(images/man/man_button.png) no-repeat left center;
	font-size:0.9em;
	width:100px;
}
#rightBody a:hover{
	cursor:default;
}

#rightBody a.head{
	top:10px;
	left:122px;
}
#rightBody a.upperBody{
	top:90px;
	left:122px;
}
#rightBody a.arm{
	top:220px;
	left:182px;
}
#rightBody a.hand{
	top:320px;
	left:182px;
}
#rightBody a.foot{
	top:640px;
	left:162px;
}
#rightBody a.lowerBody{
	top:490px;
	left:162px;
}
#manback{
	background:url(images/man-bk.png) no-repeat left top;
	height:686px;
	width:206px;
	position:absolute;
	left:0;
}
#manbackfixed{
	height:686px;
	width:206px;
	position:absolute;
	left:0;
}

#manback div, #manbackfixed div{
	position:absolute;
}
#manback div:hover{
	cursor:pointer;
}
#manhead, #manheadFixed{
	background:url(images/man/man_head.png) no-repeat left top;	
	width:71px;
	height:107px;
	left:71px;
	top:3px;	
}
#manupperBody, #manupperBodyFixed{
	background:url(images/man/man_body.png) no-repeat left top;	
	width:162px;
	height:255px;
	top:99px;
	left:4px;	
}
#manarmRight, #manarmRightFixed{
	background:url(images/man/man_arm_right.png) no-repeat left top;	
	width:42px;
	height:207px;
	top:117px;
	left:160px;	
}
#manarmLeft, #manarmLeftFixed{
	background:url(images/man/man_arm_left.png) no-repeat left top;	
	width:49px;
	height:202px;
	top:117px;
	left:7px;	
}
#manhandRight, #manhandRightFixed{
	background:url(images/man/man_hand_right.png) no-repeat left top;	
	width:24px;
	height:76px;
	top:312px;
	left:178px;	
}
#manhandLeft, #manhandLeftFixed{
	background:url(images/man/man_hand_left.png) no-repeat left top;	
	width:25px;
	height:66px;
	top:310px;
	left:4px;	
}
#manlowerBody, #manlowerBodyFixed{
	background:url(images/man/man_legs.png) no-repeat left top;	
	width:137px;
	height:353px;
	top:292px;
	left:38px;	
}
#manfootRight, #manfootRightFixed{
	background:url(images/man/man_foot_right.png) no-repeat left top;	
	width:52px;
	height:47px;
	top:634px;
	left:135px;	
}
#manfootLeft, #manfootLeftFixed{
	background:url(images/man/man_foot_left.png) no-repeat left top;	
	width:56px;
	height:47px;
	top:633px;
	left:22px;	
}

/* LeftBody, initial Menu that coinsides with the diagram */
#leftBody{
	width:40%;
	float:left;
	border:2px solid #C00;
	padding:0;
	position:absolute;
	min-width:260px;
	overflow:hidden;
	background-color:#fff;
	z-index:999;
}
#leftBody h3{
	margin:0;
	text-transform:uppercase;
	font-size:1em;
	font-weight:700;
	border-bottom:2px solid #C00;
}
#leftBody h3 a{
	text-decoration:none;
	color:#000000;
	display:block;
	width:100%;
	height:100%;
	padding:10px;
	background:url(images/mainMenuSprite.png) no-repeat bottom right;
}
#leftBody h3 a:hover{
	color:#fff !important;
	background-color:#c00 !important;
	background-position:top right;
}

#leftBody .questionCTA, #formWrapper .questionCTA{
	text-align:center;
	display:block !important;
	font-size:18px;
	line-height:26px;
}
#formWrapper .questionCTA{
	border-top: 2px solid #C00;
}
#leftBody .questionCTA a, #formWrapper .questionCTA a{
	width:100%;
	height:100%;
	display:block;
}
#leftBody .questionCTA a img, #formWrapper .questionCTA a img{
	width:100%;
	height:auto;
	max-width:500px;
}
#leftBody .ui-accordion .questionCTA.ui-accordion-icons, #formWrapper .ui-accordion .questionCTA.ui-accordion-icons{
	background:none !important;
}

/* Accordian Override */

.ui-accordion .ui-accordion-content{
	padding:0;
	border-radius:0;
	border:0;
	background-color:black;
}
.ui-widget, .ui-widget button {
font-family: 'Quattrocento Sans', sans-serif;	
}
.ui-accordion .ui-accordion-icons{
	margin-top:0;
	border:0;
	border-radius:0;
	background:none;
	border-top:1px solid #900;
	color: #C00;
}
.ui-accordion .ui-accordion-header{

}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
	display:none;
}

.ui-state-default .ui-icon{
	
}

.ui-accordion .ui-accordion-icons{
	padding:5px 10px;
	background: url(images/PI-arrow-default.png) no-repeat right center;	
}

.ui-accordion .ui-accordion-header-active {
	background: url(images/PI-arrow-active.png) no-repeat right center;		
}

.thankyou h2{
	width:50%;
	margin:80px auto auto auto;
	text-align:center;
}
.thankyou .sub{
	font-size:1em !important;
	color:white;
	width:50%;
	text-align:center;
	margin:20px auto;
	display:block;
}
/* Hubspot form */
.thankyou{
	text-align:center;
	color:#fff !important;	
}

@media only screen and (min-width: 940px) {

	#rightBody{float:right;}
	#formWrapper{width:40%;}
	#instText{width:280px;}

}
@media only screen and (max-width:767px){
	
	#rightBody{display:none !important;}
	#leftBody, #formWrapper{width:100%; position:relative; float:none;}
	
}